<section class="no-padding no-margin" id="meet-us-content">
    <div class="container-fluid">
        
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/jb1.png" class="img-responsive" alt="">
                    <div class="meet-us-box-caption">
                        <div class="meet-us-box-caption-content">
                            <div class="project-category text-faded">
                                JB
                            </div>
                            <div class="project-name">
                                [title/job]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/peggy1.png" class="img-responsive" alt="">
                    <div class="meet-us-box-caption">
                        <div class="meet-us-box-caption-content">
                            <div class="project-category text-faded">
                                Peggy
                            </div>
                            <div class="project-name">
                                [title/job]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/john1.png" class="img-responsive" alt="">
                    <div class="meet-us-box-caption">
                        <div class="meet-us-box-caption-content">
                            <div class="project-category text-faded">
                                John
                            </div>
                            <div class="project-name">
                                [title/job]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/shari1.png" class="img-responsive" alt="">
                    <div class="meet-us-box-caption">
                        <div class="meet-us-box-caption-content">
                            <div class="project-category text-faded">
                                Shari
                            </div>
                            <div class="project-name">
                                [title/job]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/karlen1.png" class="img-responsive" alt="">
                    <div class="meet-us-box-caption">
                        <div class="meet-us-box-caption-content">
                            <div class="project-category text-faded">
                                Karlen
                            </div>
                            <div class="project-name">
                                [title/job]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/painters1.png" class="img-responsive" alt="">
                    <div class="meet-us-box-caption">
                        <div class="meet-us-box-caption-content">
                            <div class="project-category text-faded">
                                [Other employees? - maybe group photo or possibly individual if feeling fancy..]
                            </div>
                            <div class="project-name">
                                [title/job]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</section>
