<section class="bg-white small-padding-top no-margin" id="meet-us-title">  
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-lg-offset-0 text-center">
                  <h2 class="section-heading">[Meet Us!]</h2>
                  <hr>
                  <p class="text-gray">Below you can find a touch of information about us and some of our employees. However, you can click <a href="/get-to-know-us/">here</a> or any of the profiles below to learn even more about us and more of our employees.</p>
              </div>    
          </div>    
      </div>
</section>

<section class="bg-white small-padding no-margin" id="meet-us-content">
    <div class="container-fluid">
        
        <div class="row no-small-lr">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/jb1.png" class="img-responsive" alt="">
                    <div class="">
                        <h2 class="small-lr">JB Long</h2>
                        <h3 class="small-lr">Owner</h3>
                    </div>
                </a>
                    <div class="">
                        <p class="small-lr text-gray">Stuff</p>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/peggy1.png" class="img-responsive" alt="">
                    <div class="">
                        <h2 class="small-lr">Peggy Long</h2>
                        <h3 class="small-lr">Owner</h3>
                    </div>
                </a>
                    <div class="">
                        <p class="small-lr text-gray">Stuff</p>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/john1.png" class="img-responsive" alt="">
                    <div class="">
                        <h2 class="small-lr">John Long</h2>
                        <h3 class="small-lr">Manager</h3>
                    </div>
                </a>
                    <div class="">
                        <p class="small-lr text-gray">Stuff</p>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/shari1.png" class="img-responsive" alt="">
                    <div class="">
                        <h2 class="small-lr">Shari Long</h2>
                        <h3 class="small-lr">Secretary</h3>
                    </div>
                </a>
                    <div class="">
                        <p class="small-lr text-gray">Stuff</p>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/karlen1.png" class="img-responsive" alt="">
                    <div class="">
                        <h2 class="small-lr">Karlen Morris</h2>
                        <h3 class="small-lr">Co-Manager</h3>
                    </div>
                </a>    
                    <div class="">
                        <p class="small-lr text-gray">Stuff</p>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/get-to-know-us/" class="meet-us-box">
                    <img src="img/meet-us/karlen1.png" class="img-responsive" alt="">
                    <div class="">
                        <h2 class="small-lr">Some Dude</h2>
                        <h3 class="small-lr">Does Dude Things</h3>
                    </div>
                </a>
                    <div class="">
                        <p class="small-lr text-gray">Stuff</p>
                    </div>
            </div>
        </div>
        
    </div>
</section>
