<section class="bg-white small-padding-top " id="meet-us-title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-lg-offset-0 text-center">
				<h2 class="section-heading">[Meet Us!]</h2>
				<hr>
				<p class="theme-gray">Below you can find some information about the employees at the shop.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-white small-padding " id="meet-us-content">
	<div class="container">
		<div class="row">

			<div class="col-lg-4 col-md-6 col-sm-6">
				<img src="img/meet-us/jb1.png" class="img-responsive">
				<h3 class="small-lr">JB Long &#8213; Owner</h3>
				<hr class="skinny-and-long">
				<p class="medium-lrb theme-gray">The shop exists because of this guy. JB has been at the shop since before it was called JB Long and Son Body Shop in __. He is very experienced with all things cars he was even a pit crew mechanic for __ in __.</p>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<img src="img/meet-us/peggy1.png" class="img-responsive">
				<h3 class="small-lr">Peggy Long &#8213; Owner</h3>
				<hr class="skinny-and-long">
				<p class="medium-lrb theme-gray">Peggy has been at the shop with JB since __. She has kept the office in working order all that time. On a typical day peggy spends her time talking with customers and checking over cars before they're finalized. If they pass her inspection the car is ready to go.</p>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<img src="img/meet-us/john1.png" class="img-responsive">
				<h3 class="small-lr">John Long &#8213; Manager</h3>
				<hr class="skinny-and-long">
				<p class="medium-lrb theme-gray">John has worked in nearly every position at the shop. He is currently the manager, and has been for __ years. There are three guys who make estimates at the shop (JB, John, and Karlen). John is always the first in line to make an estimate.</p>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<img src="img/meet-us/shari1.png" class="img-responsive">
				<h3 class="small-lr">Shari Long &#8213; Secretary</h3>
				<hr class="skinny-and-long">
				<p class="medium-lrb theme-gray">Shari has worked at the shop as the secretary since __. She took off for __ when she and John had children then began working part time in __ and back to full time starting in __. Shari is the person who you are most likely to talk to when you give us a call.</p>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<img src="img/meet-us/karlen1.png" class="img-responsive">
				<h3 class="small-lr">Karlen Morris &#8213; Asst. Manager</h3>
				<hr class="skinny-and-long">
				<p class="medium-lrb theme-gray">Like John, Karlen has worked in nearly every position at the shop. He actually holds a number of titles at the shop, but we decided assistant manager fit best. Karlen is the parts manager, __, __.</p>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<img src="img/meet-us/cassie1.png" class="img-responsive">
				<h3 class="small-lr">Cassie Long &#8213; Asst. Secretary</h3>
				<hr class="skinny-and-long">
				<p class="medium-lrb theme-gray">Cassie is the newest addition to the shop. Don't hold that against her though; she's sharp and always eager to help out.</p>
			</div>

		</div>
	</div>
</section>
