<section class="bg-white no-padding no-margin" id="before-and-after-content">
    <div class="container-fluid">
        
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1d-before.png" class="img-responsive" alt="">
                    <div class="before-and-after-box-caption">
                        <div class="before-and-after-box-caption-content">
                            <div class="project-category text-faded">
                                [Make and year?]
                            </div>
                            <div class="project-name">
                                [Date completed?]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1c-before.png" class="img-responsive" alt="">
                    <div class="before-and-after-box-caption">
                        <div class="before-and-after-box-caption-content">
                            <div class="project-category text-faded">
                                [Make and year?]
                            </div>
                            <div class="project-name">
                                [Date completed?]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1b-before.png" class="img-responsive" alt="">
                    <div class="before-and-after-box-caption">
                        <div class="before-and-after-box-caption-content">
                            <div class="project-category text-faded">
                                [Make and year?]
                            </div>
                            <div class="project-name">
                                [Date completed?]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1a-before.png" class="img-responsive" alt="">
                    <div class="before-and-after-box-caption">
                        <div class="before-and-after-box-caption-content">
                            <div class="project-category text-faded">
                                [Make and year?]
                            </div>
                            <div class="project-name">
                                [Date completed?]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>