<section class="bg-white no-margin small-padding-top" id="before-and-after-title">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-lg-offset-0 text-center">
                  <h2 class="section-heading">[Before and After!]</h2>
                  <hr>
                  <p class="text-gray">[Below are a few examples of our work. You can click <a href="/more-before-and-after/">here</a> to see more.]</p>
              </div>
          </div>
      </div>
</section>

<section class="bg-white small-padding no-margin" id="before-and-after-content">
    <div class="container-fluid">
        
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1a-before.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1a-before.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
        
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1a-before.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="/more-before-and-after/" class="before-and-after-box">
                    <img src="img/before-and-after/project1a-before.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>

    </div>
</section>