<section class="bg-white  small-padding-top" id="before-and-after-title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-lg-offset-0 text-center">
				<h2 class="section-heading">[Before and After!]</h2>
				<hr>
				<p class="theme-gray">[Below are a few examples of our work. We will be adding projects periodically.]</p>
				<p class="theme-gray">[I will need information such as make, model, and year for all below and future project examples. Date received and date finished are also good, but not required. For example, if we are booked and can't get to the repair in a timely fashion, or are waiting on a go ahead from an insurance agency that would postpone completion of the repair, or anything that would extend the duration of the project, then it wouldn't be a good idea to show dates. Another REALLY good thing to have here, mom, is testimonials. If a client said something about the repair, that would add to this section, then write it down so I can add it. However, be sure to get their permission before we quote them on the website.]</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-white small-padding " id="before-and-after-content">

	<div class="container">

		<div class="row">

			<div class="col-lg-6 col-sm-6">
				<a href="/more-before-and-after/" class="before-and-after-box no-underline">
					<img src="img/before-and-after/project1/before.png" class="img-responsive">
					<h3 class="small-lr">Date Received:</h3>
				</a>
				<hr class="skinny-and-long">
			</div>
			<div class="col-lg-6 col-sm-6">
				<a href="/more-before-and-after/" class="before-and-after-box no-underline">
					<img src="img/before-and-after/project1/after.png" class="img-responsive">
					<h3 class="small-lr">Date Finished:</h3>
				</a>
				<hr class="skinny-and-long">
			</div>
			<div class="col-lg-12">
				<p class="medium-lrb theme-gray">[This section could potentially be a couple sentences, or so, about the project above <b>see text at top of section</b>. It would look very much like this. Another option is placing a few bulleted points below the image which would look like the following.]</p>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-6 col-sm-6">
				<a href="/more-before-and-after/" class="before-and-after-box no-underline">
					<img src="img/before-and-after/project2/before.png" class="img-responsive">
					<h3 class="small-lr">Date Received:</h3>
				</a>
				<hr class="skinny-and-long">
			</div>
			<div class="col-lg-6 col-sm-6">
				<a href="/more-before-and-after/" class="before-and-after-box no-underline">
					<img src="img/before-and-after/project2/after.png" class="img-responsive">
					<h3 class="small-lr">Date Finished:</h3>
				</a>
				<hr class="skinny-and-long">
			</div>
			<div class="col-lg-12">
				<p class="medium-lrb theme-gray">[This section could potentially be a couple sentences, or so, about the project above <b>see text at top of section</b>. It would look very much like this. Another option is placing a few bulleted points below the image which would look like the following.]</p>
			</div>
		</div>

	</div>
</section>
