<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>We've got what you need!</h2>
        <hr />
        <p>
          All services below are subject to change. Please contact us for more
          information.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="serviceTiles">
          <i class="fa fa-5x fa-align-center wow bounceIn"></i>
          <h3>General Collision Repair</h3>
          <p>If you've been involved in an accident we're the shop for you.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="serviceTiles">
          <i class="fa fa-5x fa-truck wow bounceIn" data-wow-delay=".1s"></i>
          <h3>Body Work</h3>
          <p>
            We have four body men who aren't afraid of anything. They can repair
            or replace any part necessary.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="serviceTiles">
          <i
            class="fa fa-5x fa-automobile wow bounceIn"
            data-wow-delay=".2s"
          ></i>
          <h3>Paint</h3>
          <p>We have four skilled painters. All of which stay very busy.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="serviceTiles">
          <i
            class="fa fa-5x fa-clipboard wow bounceIn"
            data-wow-delay=".3s"
          ></i>
          <h3>Free Estimates</h3>
          <p>
            Need an estimate, but not sure if you're going to get the car
            repaired? Come on by! They're free!
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="serviceTiles">
          <i class="fa fa-5x fa-magic wow bounceIn" data-wow-delay=".4s"></i>
          <h3>Quality Control</h3>
          <p>
            We have a fully operational wash bay and full time quality control
            employees.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="serviceTiles">
          <i
            class="fa fa-5x fa-credit-card wow bounceIn"
            data-wow-delay=".5s"
          ></i>
          <h3>We accept cash, check, and credit</h3>
          <p>
            In addition to cash and check, we accept credit (Visa and
            MasterCard).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
