<section class="bg-white" id="about-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <p class="text-muted">[JB Long and Son Body shop can...]</p>
                <p class="text-muted">[JB Long and Son Body shop was established in...]</p>
                <p class="text-muted">[The shop has been blah blah blah...]</p>
                <a class="btn btn-primary btn-xl page-scroll wow tada" href="#contact" >[Get Started by Contacting us!]</a>
            </div>
        </div>
    </div>
</section>
