<div class="bannerFront">
	<div class="bannerContent">
		<div class="container">
			<h1>JB Long and Son Body Shop</h1>
			<hr>
			<p>Everywhere where you see brackets, such as [], text needs to be added and/or replaced. In some cases the text may satisfy meaning the brackets can simply be removed. The text here could be a short description of JB Long and Son Body Shop.</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll wow tada">CLICK OR SCROLL DOWN TO FIND OUT MORE</a>
		</div>
	</div>
</div>
