<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">[We've got what you need! Get straight to business by blah blah blah]</h2>
                <hr class="light">
                <p class="text-faded">[JB Long and Son Body shop can...]</p>
                <a class="btn btn-default btn-xl page-scroll" href="#contact" >[Get Started by Contacting us!]</a>
            </div>
        </div>
    </div>
</section>
