<section class="bg-white no-margin no-padding" id="contact">
<section class="no-margin small-padding-top" id="contact-shop">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p class="text-gray">[Ready to get the car repaired..? You can email us or call us... Ready to get the car repaired..? You can email us or call us... Ready to get the car repaired..? You can email us or call us... Ready to get the car repaired..? You can email us or call us... Ready to get the car repaired..? You can email us or call us... ]</p>
            </div>
        </div>   
        
        <div class="row">  
            <div class="col-lg-3 col-lg-offset-0 text-center">
                <i class="fa fa-map-marker fa-3x wow bounceIn color-blue"></i>
                <p>107 Collision Center Dr.<br>Frankfort, KY 40601</p>
            </div>
            <div class="col-lg-3 col-lg-offset-0 text-center">
                <i class="fa fa-clock-o fa-3x wow bounceIn color-blue" data-wow-delay=".1s"></i>
                <p>Sunday Closed <br>Monday 8:00 am - 5:00 pm <br>Tuesday 8:00 am - 5:00 pm <br>Wednesday 8:00 am - 5:00 pm <br>Thursday 8:00 am - 5:00 pm <br>Friday 8:00 am - 5:00 pm <br>Saturday Closed</p>
                </a>
            </div>            
            <div class="col-lg-3 col-lg-offset-0 text-center">
                <a href="mailto:{{ site.email-shop }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn color-blue" data-wow-delay=".2s"></i>
                    <p>{{ site.email-shop }}</p>
                </a>
            </div>
            <div class="col-lg-3 col-lg-offset-0 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn color-blue" data-wow-delay=".3s"></i>
                <p>(502) 695-4477</p>
                <p>(502) 695-2041</p>
                </a>
            </div>
        </div>

    </div>
</section>

<section class="no-margin small-padding" id="contact-matthew">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">This site was hand-crafted by Matthew T Long!</h2>
                <hr class="primary">
                <p class="text-gray">My personal website can be seen at <a href="http://www.mtlong.me">www.mtlong.me</a>. There you can see other projects of mine such as the creation of this site. I am always looking for new projects that challenge me so feel free to contact me. The best way you can contact me is through email as shown below.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn color-blue" data-wow-delay=".5s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
        
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="mailto:{{ site.email-matthew }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn color-blue" data-wow-delay=".6s"></i>
                    <p>{{ site.email-matthew }}</p>
                </a>
            </div>
        
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn color-blue" data-wow-delay=".7s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
        </div>

    </div>
</section>
</section>