<section class="bg-white no-margin small-padding" id="contact-matthew">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">This site was hand-crafted by Matthew T Long!</h2>
                <hr class="primary">
                <p class="theme-gray">My personal website can be seen at <a href="http://www.mtlong.me">www.mtlong.me</a>. There you can see other projects of mine such as the creation of this site. I am always looking for new projects that challenge me so feel free to contact me. The best way you can contact me is through email as shown below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn theme-red"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
        
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="mailto:{{ site.email-matthew }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn theme-red" data-wow-delay=".1s"></i>
                    <p>{{ site.email-matthew }}</p>
                </a>
            </div>
        
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn theme-red" data-wow-delay=".2s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>            
        </div>

        {% icon smile %}
    </div>
</section>