<section id="contactShop">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h2>Let's Get In Touch!</h2>
				<hr class="primary">
				<p class="top">Ready to get the car repaired? Then contact us now! The best way you can do that is by phone. Another popular option is to simply drop by; so don't hesitate in doing so. Contact information is shown below.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-map-marker fa-3x wow bounceIn"></i>
				<p>107 Collision Center Dr.<br>Frankfort, KY 40601</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-clock-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
				<p>Sunday Closed <br>Monday 8:00 am - 5:00 pm <br>Tuesday 8:00 am - 5:00 pm <br>Wednesday 8:00 am - 5:00 pm <br>Thursday 8:00 am - 5:00 pm <br>Friday 8:00 am - 5:00 pm <br>Saturday Closed</p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".3s"></i>
				<p>(502) 695-4477</p>
				<p>(502) 695-2041</p>
			</div>
		</div>

	</div>
</section>
