<section class="bg-white  small-padding" id="contact-shop">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p class="theme-gray">[Ready to get the car repaired..? STUFF! STUFF! STUFF! STUFF! STUFF!  You can email us or call us... Ready to get the car repaired..? STUFF! STUFF! STUFF! STUFF! You can email us or call us... Ready to get the car repaired..? You can email us or call us... STUFF! STUFF! Ready to get the car repaired..? You can email us or call us... STUFF! STUFF! Ready to get the car repaired..? STUFF! STUFF! You can email us or call us... STUFF! STUFF! STUFF! STUFF! ]</p>
            </div>
        </div>   
        <div class="row">  
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <i class="fa fa-map-marker fa-3x wow bounceIn theme-red"></i>
                <p>107 Collision Center Dr.<br>Frankfort, KY 40601</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <i class="fa fa-clock-o fa-3x wow bounceIn theme-red" data-wow-delay=".1s"></i>
                <p>Sunday Closed <br>Monday 8:00 am - 5:00 pm <br>Tuesday 8:00 am - 5:00 pm <br>Wednesday 8:00 am - 5:00 pm <br>Thursday 8:00 am - 5:00 pm <br>Friday 8:00 am - 5:00 pm <br>Saturday Closed</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn theme-red" data-wow-delay=".3s"></i>
                <p>(502) 695-4477</p>
                <p>(502) 695-2041</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <a href="mailto:{{ site.email-shop }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn theme-red" data-wow-delay=".2s"></i>
                    <p>{{ site.email-shop }}</p>
                </a>
            </div>
        </div>

    </div>
</section>

