<section id="meetUs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Meet Us!</h2>
        <hr />
        <p>
          Below you can find some information about the employees at the shop.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="meetUsTiles">
        <div class="col-sm-4">
          <img
            src="{{ site.url }}/img/jblong.jpg"
            class="img-responsive img-fluid"
          />
          <h3>JB Long - Owner</h3>
          <hr class="skinny-and-long" />
          <p>
            The shop exists because of this guy. JB has been at the shop since
            before it was called JB Long and Son Body Shop. He is very
            experienced with all things cars; he was even a pit crew mechanic
            for Tony Schiller (ARCA Racing Series Veteran) in the 1970's.
          </p>
        </div>

        <div class="col-sm-4">
          <img
            src="{{ site.url }}/img/peggy.jpg"
            class="img-responsive img-fluid"
          />
          <h3>Peggy Long - Owner</h3>
          <hr class="skinny-and-long" />
          <p>
            Peggy has also been at the shop from the start. She keeps the office
            in working order. On a typical day Peggy spends her time interacting
            with customers and checking over cars before they're finalized. If
            they pass her inspection the car is ready.
          </p>
        </div>

        <div class="col-sm-4">
          <img
            src="{{ site.url }}/img/john.jpg"
            class="img-responsive img-fluid"
          />
          <h3>John Long - Manager</h3>
          <hr class="skinny-and-long" />
          <p>
            John, son of Peggy and JB, has worked in nearly every position at
            the shop. He is currently the manager, and has been for 20 years.
            There are three guys who make estimates at the shop (JB, John, and
            Karlen). John is always the first in line to make an estimate.
          </p>
        </div>
        <div class="col-sm-4">
          <img
            src="{{ site.url }}/img/shari.jpg"
            class="img-responsive img-fluid"
          />
          <h3>Shari Long - Secretary</h3>
          <hr class="skinny-and-long" />
          <p>
            Shari, Johns wife, has worked at the shop as the secretary since
            1989. She took off for a few years when she and John had children.
            Shari is the person who you are most likely to talk to when you give
            us a call.
          </p>
        </div>

        <div class="col-sm-4">
          <img
            src="{{ site.url }}/img/karlen.jpg"
            class="img-responsive img-fluid"
          />
          <h3>Karlen Morris - Asst. Manager</h3>
          <hr class="skinny-and-long" />
          <p>
            Like John, Karlen has worked in nearly every position at the shop.
            He actually holds a number of job titles, but we decided assistant
            manager fits best. Responsibilities include assisting shop
            management, parts manager, and working with insurance adjusters.
          </p>
        </div>

        <div class="col-sm-4">
          <img
            src="{{ site.url }}/img/cassie.jpg"
            class="img-responsive img-fluid"
          />
          <h3>Cassie Long - Asst. Secretary</h3>
          <hr class="skinny-and-long" />
          <p>
            Cassie is the newest addition to the shop. Don't hold that against
            her though; she's sharp and always eager to help out. Cassie does
            all the odds and ins with getting your car looking back to how you
            want it!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
