<section id="meetUs">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-lg-offset-0">
				<h2>Meet Us!</h2>
				<hr>
				<p>Below you can find some information about the employees at the shop.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="meetUsTiles">
				<div class="col-lg-4 col-md-6">
					<img src="{{site.url}}/img/jb.jpg" class="img-responsive img-fluid">
					<h3>JB Long - Owner</h3>
					<hr class="skinny-and-long">
					<p>The shop exists because of this guy. JB has been at the shop since before it was called JB Long and Son Body Shop in __. He is very experienced with all things cars; he was even a pit crew mechanic for __ in __.</p>
				</div>

				<div class="col-lg-4 col-md-6">
					<img src="{{site.url}}/img/peggy.jpg" class="img-responsive img-fluid">
					<h3>Peggy Long - Owner</h3>
					<hr class="skinny-and-long">
					<p>Peggy has been at the shop, with JB, since __. She keeps the office in working order at all times. On a typical day Peggy spends her time interacting with customers and checking over cars before they're finalized. If they pass her inspection the car is ready.</p>
				</div>

				<div class="col-lg-4 col-md-6">
					<img src="{{site.url}}/img/john.jpg" class="img-responsive img-fluid">
					<h3>John Long - Manager</h3>
					<hr class="skinny-and-long">
					<p>John has worked in nearly every position at the shop. He is currently the manager, and has been for __ years. There are three guys who make estimates at the shop (JB, John, and Karlen). John is always the first in line to make an estimate.</p>
				</div>

				<div class="col-lg-4 col-md-6">
					<img src="{{site.url}}/img/shari.jpg" class="img-responsive img-fluid">
					<h3>Shari Long - Secretary</h3>
					<hr class="skinny-and-long">
					<p>Shari has worked at the shop as the secretary since __. She took off for __ when she and John had children, but then began working part time in __, and back to full time starting in __. Shari is the person who you are most likely to talk to when you give us a call.</p>
				</div>

				<div class="col-lg-4 col-md-6">
					<img src="{{site.url}}/img/karlen.jpg" class="img-responsive img-fluid">
					<h3>Karlen Morris - Asst. Manager</h3>
					<hr class="skinny-and-long">
					<p>Like John, Karlen has worked in nearly every position at the shop. He actually holds a number of job titles at the shop, but we decided assistant manager fits best. Karlen is the parts manager, __, __.</p>
				</div>

				<div class="col-lg-4 col-md-6">
					<img src="{{site.url}}/img/cassie.jpg" class="img-responsive img-fluid">
					<h3>Cassie Long - Asst. Secretary</h3>
					<hr class="skinny-and-long">
					<p>Cassie is the newest addition to the shop. Don't hold that against her though; she's sharp and always eager to help out.</p>
				</div>
			</div>
		</div>
	</div>
</section>
