<section class="no-padding no-margin" id="meet-john">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-7 col-lg-offset-0">
                <img src="../img/meet-us/john1.png" class="img-responsive">
            </div>
            <div class="col-lg-5 col-lg-offset-0">
                <h1 class="section-heading">[John]</h1>
                <p class="text-left text-gray">[STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND ]</p>
                <h2 class="section-heading">[TITLE]</h2>
                <p class="text-left text-gray">[things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff] </p>
                <h3 class="section-heading">[Title]</h3>
                <p class="text-left text-gray">[hey you..]</p>
            </div>
        </div>
    </div>
</section>