<section class="no-margin small-padding" id="services-front-content">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-truck wow bounceIn color-blue"></i>
                    <h3>[Insert one thing we do here.]</h3>
                    <p class="text-gray">[Insert description of that thing here.]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-automobile wow bounceIn color-blue" data-wow-delay=".1s"></i>
                    <h3>[Insert another thing we do here.]</h3>
                    <p class="text-gray">[Insert description of that thing here.]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-magic wow bounceIn color-blue" data-wow-delay=".2s"></i>
                    <h3>[Insert another thing we do here.]</h3>
                    <p class="text-gray">[Insert description of that thing here.]</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-credit-card wow bounceIn color-blue" data-wow-delay=".3s"></i>
                    <h3>[Insert another thing we do here.]</h3>
                    <p class="text-gray">[Insert description of that thing here.]</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
