#about {
	background-color: $white;
	padding: 5em 0;
	text-align: center;
	p {
		color: $gray;
		margin: 0 0 5em 0;
	}
	h2 {
		margin: 0 auto;
		color: $black;
		&:hover {
			color: $red;
		}
	}
	h3 {
		margin: .5em auto;
		color: $black;
	}
	.serviceTiles {
		max-width: 400px;
		margin: 50px auto 0;
		@media (min-width: 992px) {
			margin: 20px auto 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	i.fa {
		color: $red;
		text-shadow: $mediumShadow;
	}
}
