.bg-image-front {
	background-image: url('../../img/banner.jpg');
	background-size: cover;
	background-position: center;
}

.bg-image-services {
	background-image: url('../../img/services.jpg');
	background-size: cover;
	background-position: center;
}

.bg-image-meet {
	background-image: url('../../img/meetUsHeader.jpg');
	background-size: cover;
	background-position: center;
}

.bg-image-more-before-and-after {
	background-image: url('../../img/beforeAndAfter.jpg');
	background-size: cover;
	background-position: center;
}

// Background Colors
.bg-red {
	background-color: $red;
}

.bg-red-transparent {
	background-color: $red;
	opacity: 0.9;
}

.by-gray {
	background-color: $gray;
	color: white;
}

.bg-gray-transparent {
	background-color: $gray;
	opacity: 0.9;
}

.bg-white {
	background-color: $white;
}