html,
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

a {
	@include transition-all;
	color: $black;
	text-emphasis: bold;
	&:hover,
	&:focus {
		color: $red;
		text-decoration: underline;
	}
}

a.no-underline {
	@include transition-all;
	color: $black;
	text-emphasis: bold;
	&:hover,
	&:focus {
		color: $red;
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primaryFont;
	color: $black;
	&:hover,
	&:focus {
		color: $red;
	}
}

p {
	font-family: $secondaryFont;
}

a {
	font-family: $primaryFont;
	letter-spacing: 1px;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

// Lists
ul {
	font-size: 16px;
	padding: 0px;
}

ul li {
	margin-left: 25px;
	margin-right: 25px;
}

ul.nav {
	font-size: 0;
	padding: 0px;
}

ul li.nav {
	margin-left: 0;
	margin-right: 0;
}

// Colors
.theme-red {
	color: $red;
}

.theme-gray {
	color: $gray;
}

.theme-white {
	color: $white;
}

.theme-black {
	color: $black;
}

// Paddings and Margins 
.no-padding {
	padding: 0;
}

.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

// Sections
section {
	padding: 100px 0;
}

.section-heading {
	margin-top: 0;
}

.blank {
	height: 33.3vh;
}

.container-break-red {
	padding: 2px;
}

.container-break-gray {
	padding: 5px;
	box-shadow: -2px -2px 4px 0 $black, 2px 2px 4px 0 $black;
}

// Contact
#contact .fa {
	color: $gray;
	font-size: 4em;
}

// SVG Styles
// Extras
// -- Highlight Color Customization
::-moz-selection {
	color: white;
	text-shadow: none;
	background: $gray;
}

::selection {
	color: white;
	text-shadow: none;
	background: $gray;
}

img::selection {
	color: white;
	background: transparent;
}

img::-moz-selection {
	color: white;
	background: transparent;
}

body {
	-webkit-tap-highlight-color: $white;
}
