#beforeAndAfter {
	background-color: $theme-white;
	padding: 5em 0;
	text-align: center;
	h2,
	h3 {
		margin: 0 auto;
		color: $theme-black;
	}
	h2 {
		color: $theme-black;
		&:hover {
			color: $theme-red;
		}
	}
	p {
		color: $theme-gray;
	}
	p.top {
		margin: 0 0 5em 0;
	}
}
