.btn-default {
	@include button-variant($gray,
	white,
	white);
}

.btn-primary {
	@include button-variant(white,
	$red,
	$red);
}

.btn {
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: $mediumShadow;
	&:hover{
		box-shadow: $smallShadow;
	}
}

.btn-xl {
	padding: 15px 30px;
}
