#contactMatthew {
	background-color: $white;
	color: $gray;
	padding: 1em 0;
	text-align: center;
	a {
		font-weight: 900;
		border-bottom: 1px dotted $black;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid $red;
		}
	}
}