.header-front {
	min-height: auto;
	text-align: center;
	color: white;
	min-height: 100vh;
	padding: 10% 0 10%;
	.header-content {
		h1 {
			font-weight: 900;
			text-transform: uppercase;
			color: $theme-gray;
		}
		hr {
			margin: 15px auto;
		}
		p {
			font-weight: 500;
			padding: 17.5% 0 2.5%;
			color: $theme-white;
		}
	}
}

.header-more-before-and-after {
	min-height: auto;
	text-align: center;
	color: white;
	min-height: 100vh;
	padding: 10% 0 10%;
	.header-content {
		h1 {
			font-weight: 900;
			text-transform: uppercase;
			color: $theme-gray;
		}
		hr {
			margin: 15px auto;
		}
		p {
			font-weight: 500;
			padding: 17.5% 0 2.5%;
			color: $theme-white;
		}
	}
}

.header-get-to-know-us {
	min-height: auto;
	text-align: center;
	color: white;
	min-height: 100vh;
	padding: 10% 0 10%;
	.header-content {
		h1 {
			font-weight: 900;
			text-transform: uppercase;
			color: $theme-gray;
		}
		hr {
			margin: 15px auto;
		}
		p {
			font-weight: 500;
			padding: 17.5% 0 2.5%;
			color: $theme-white;
		}
	}
}