#meetUs {
	background-color: $white;
	padding: 5em 0;
	text-align: center;
	p {
		color: $gray;
		margin: 0 0 5em 0;
	}
	h2,
	h3 {
		margin: 0 auto;
		color: $black;
	}
	h2 {
		color: $black;
		&:hover {
			color: $red;
		}
	}
	.meetUsTiles {
		p {
			margin: 1em;
		}
		img {
			margin: 0 0 1em 0;
			box-shadow: $mediumShadow;
			&:hover {
				box-shadow: $smallShadow;
			}
		}
	}
}
