#meetUs {
	background-color: $theme-white;
	padding: 5em 0;
	text-align: center;
	p {
		color: $theme-gray;
		margin: 0 0 5em 0;
	}
	h2,
	h3 {
		margin: 0 auto;
		color: $theme-black;
	}
	h2 {
		color: $theme-black;
		&:hover {
			color: $theme-red;
		}
	}
	.meetUsTiles {
		p {
			margin: 1em;
		}
		img {
			margin: 0 0 1em 0;
			box-shadow: 2px 2px 4px $theme-black;
			&:hover {
				box-shadow: 1px 1px 2px $theme-black;
			}
		}
	}
}
