.navbar-default {
	background-color: white;
	border-color: rgba($gray, .5);
	@include transition-all;
	box-shadow: $mediumShadow;
	.navbar-header .navbar-brand {
		color: $red;
		font-weight: 700;
		text-transform: uppercase;
		&:hover,
		&:focus {
			color: darken($red, 10%);
		}
	}
	.nav {
		>li {
			>a,
			>a:focus {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 14px;
				color: $gray;
				&:hover {
					color: $red;
				}
			}
			&.active {
				>a,
				>a:focus {
					color: $red !important;
					background-color: transparent;
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
}