#scrolldown {
	bottom: 0;
	height: 100px;
	margin-left: -50px;
	position: absolute;
	left: 50%;
	text-align: center;
	width: 100px;
	z-index: 100;
	text-shadow: none;
	@media screen and ( max-height: 400px) {
		display: none;
	}
	p {
		animation-duration: 2s;
		animation-fill-mode: both;
		animation-iteration-count: infinite;
		animation-name: scroll;
		color: $black;
	}
	>p {
		text-transform: uppercase;
		text-indent: 3px;
	}
}

.mouse {
	border: 2px solid $black;
	border-radius: 13px;
	display: block;
	height: 46px;
	left: 50%;
	margin: 10px 0 0 -13px;
	position: absolute;
	width: 26px;
	span {
		display: block;
		font-size: 3em;
		margin: -5px auto;
	}
}

@keyframes scroll {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(10px);
	}
}
