---
---

@charset "utf-8";

$primaryFont: 'Oswald', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

// Colors
$red: #cc3333;
$gray: #6F7176;
$white: #fff;
$black: #000;

// Shadows
$smallShadow: 1px 1px 2px $black;
$mediumShadow: 2px 2px 4px $black;
$cocoenShadow: 2px 2px 4px $gray, -2px -2px 4px $gray;

// Critical
@import "mixins";
@import "base";

// HTML Elements
@import "backgrounds";
@import "horizontalRules";
@import "buttons";

// Typed JavaScript Styling
//@import "typed";

// For the footer reveal
//@import "theOtherBody";

// Before and After Slider
//@import "cocoen.min";

// Scroll Down Button
@import "scrollDown";

// Sections
@import "navigation";
@import "bannerFront";
@import "about";
@import "beforeAndAfter";
@import "meetUs";
@import "contactShop";
@import "contactMatthew";