---
---

@charset "utf-8";

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

// Theme Colors
$theme-red: #cc3333;
$theme-gray: #6F7176;
$theme-white: #fff;
$theme-black: #000;

// Critical
@import "mixins";
@import "base";

// HTML Elements
@import "backgrounds";
@import "horizontalRules";
@import "buttons";

// Typed JavaScript Styling
@import "typed";

// For the footer reveal
@import "theOtherBody";

// Sections
@import "navigation";
@import "bannerFront";
@import "about";
@import "beforeAndAfter";
@import "meetUs";
@import "contactShop";
@import "contactMatthew";