<section class="no-padding no-margin" id="before-and-after-4">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-6 col-lg-offset-0">
                <img src="../img/before-and-after/1.jpg" class="img-responsive">
            </div>
            <div class="col-lg-6 col-lg-offset-0">
                <img src="../img/before-and-after/1.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-12 col-lg-offset-0">
                <h1 class="section-heading">[HEADING ONE]</h1>
                <p class="text-left text-gray">[Stuff and things stuff and things stuff and things stuff. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .]</p>
                <h2 class="section-heading">[HEADING TWO]</h2>
                <p class="text-left text-gray">[Just things but lots of it]</p>
                <h3 class="section-heading">[HEADING THREE]</h3>
                <p class="text-left text-gray">[hey you..]</p>
            </div>
        </div>
    </div>
</section>