<section class=" small-padding-top" id="project4-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">[Project Four]</h2>
                <hr>
                <p>[stuff and things stuff and things stuff and things stuff and things ]</p>
            </div>
        </div>
    </div>
</section>

<section class="small-padding-bot" id="project1-content">
<section class="no-padding " id="project4-images">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-6 col-lg-offset-0">
                <div class="col-lg-12">
                    <img src="../img/before-and-after/project1a-before.png" class="img-responsive">
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-0">
                <div class="col-lg-12">
                    <img src="../img/before-and-after/project1a-before.png" class="img-responsive">
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="row no-gutter">
            <div class="col-lg-12 col-lg-offset-0">
                <h2 class="section-heading">[Car Four]</h2>
                <p class="text-left theme-gray">[Something about car one... Something about car one... Something about car one... Something about car one... Something about car one... Something about car one... Something about car one... Something about car one... ]</p>
                <h2 class="section-heading">[Price?]</h2>
                <p class="text-left theme-gray">[information :) information :) information :) information :) information :) information :) information :) information :) information :) information :) information :) information :) ] </p>
                <h3 class="section-heading">[Title]</h3>
                <p class="text-left theme-gray">[hey you.. hey you.. hey you.. hey you.. hey you.. hey you.. hey you.. ]</p>
            </div>
        </div>
    </div>
</section>
</section>