<header class="header-get-to-know-us">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>JB Long and Son Body Shop</h1>
            <hr>
            <p>Everywhere where you see brackets, such as [], text needs to be added and/or replaced. In some cases the text may satisfy meaning the brackets can simply be removed. The text here could be a short description of JB Long and Son Body Shop.</p>
            <p>[Scroll down to get know us...]</p>
        </div>
    </div>
</header>
