<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include /nav/front.html %}
    
  {% include /header/front.html %}
    
  {% include /about/title.html %}
  {% include /about/content.html %}

  {% include /services/title.html %}
  {% include /services/content.html %}
    
  {% include /before-and-after/title.html %}    
  {% include /before-and-after/content.html %}
  {% include /before-and-after/link.html %}    
    
  {% include /meet-us/title.html %}
  {% include /meet-us/content.html %}
  {% include /meet-us/link.html %}

  {% include /contact/title.html %}
  {% include /contact/shop.html %}
  {% include /contact/matthew.html %}
    
  {% include scripts.html %}
</body>

</html>