<!DOCTYPE html>
<html lang="en">
    
{% include head.html %}
    
<body id="page-top-get-to-know-us">
    
{% include /nav/get-to-know-us.html %}  
{% include /header/get-to-know-us.html %}
        
<br>  
{% include /meet-us/profiles/jb.html %}  
<br>  
{% include /meet-us/profiles/peggy.html %}  
<br>          
{% include /meet-us/profiles/john.html %} 
<br>    
{% include /meet-us/profiles/shari.html %}     
<br> 
{% include /meet-us/profiles/karlen.html %}       
<br>     
{% include /meet-us/profiles/painters.html %}          
<br>        
    
{% include /contact/title.html %}
{% include /contact/shop.html %}
{% include /contact/matthew.html %}
        
{% include scripts.html %}

</body>
</html>