<!DOCTYPE html>
<html lang="en">
    
{% include head.html %}
    
<body id="page-top-get-to-know-us">
    
{% include nav-get-to-know-us.html %}  
{% include header-get-to-know-us.html %}
        
    <br>
    
    <section class="no-padding no-margin" id="meet-jb">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/jb1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">Peggy Long</h1>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..  </p>
                    <h2 class="section-heading">Peggy Long</h2>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. </p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">hey you..</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>
    
    <section class="no-padding no-margin" id="meet-peggy">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/peggy1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">Peggy Long</h1>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..  </p>
                    <h2 class="section-heading">Peggy Long</h2>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. </p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">hey you..</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>    
        
    <section class="no-padding no-margin" id="meet-john">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/john1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">Peggy Long</h1>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..  </p>
                    <h2 class="section-heading">Peggy Long</h2>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. </p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">hey you..</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>
        
    <section class="no-padding no-margin" id="meet-shari">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/shari1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">Peggy Long</h1>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..  </p>
                    <h2 class="section-heading">Peggy Long</h2>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. </p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">hey you..</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>
    
    <section class="no-padding no-margin" id="meet-karlen">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/karlen1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">Peggy Long</h1>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..  </p>
                    <h2 class="section-heading">Peggy Long</h2>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. </p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">hey you..</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>    
    
    <section class="no-padding no-margin" id="meet-group">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/group1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">Peggy Long</h1>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big..  </p>
                    <h2 class="section-heading">Peggy Long</h2>
                    <p class="text-left text-gray">Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. </p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">hey you..</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>        
    
{% include contact-title.html %}
{% include contact-shop.html %}
{% include contact-matthew.html %}
        
{% include scripts.html %}

</body>
</html>