<!DOCTYPE html>
<html lang="en">
    
{% include head.html %}
    
<body id="page-top-get-to-know-us">
    
{% include /nav/get-to-know-us.html %}  
{% include /header/get-to-know-us.html %}
        
    <br>
    
    <section class="no-padding no-margin" id="meet-jb">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/jb1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">[JB]</h1>
                    <p class="text-left text-gray">[STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND ]</p>
                    <h2 class="section-heading">[jb title 2]</h2>
                    <p class="text-left text-gray">[stuff and more stuff and then even more stuff and more stuff on top of that stuff with additional stuff and stuff.]</p>
                    <h3 class="section-heading">[Title]</h3>
                    <p class="text-left text-gray">[hey you..]</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>
    
    <section class="no-padding no-margin" id="meet-peggy">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/peggy1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">[Peggy]</h1>
                    <p class="text-left text-gray">[STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND ]</p>
                    <h2 class="section-heading">[stuff]</h2>
                    <p class="text-left text-gray">[STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND ]</p>
                    <h3 class="section-heading">Title</h3>
                    <p class="text-left text-gray">[hey you..]</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>    
        
    <section class="no-padding no-margin" id="meet-john">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/john1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">[John]</h1>
                    <p class="text-left text-gray">[STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND STUFF AND ]</p>
                    <h2 class="section-heading">[TITLE]</h2>
                    <p class="text-left text-gray">[things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff] </p>
                    <h3 class="section-heading">[Title]</h3>
                    <p class="text-left text-gray">[hey you..]</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>
        
    <section class="no-padding no-margin" id="meet-shari">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/shari1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">[Shari]</h1>
                    <p class="text-left text-gray">[things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff things and stuff ]</p>
                    <h2 class="section-heading">[header]</h2>
                    <p class="text-left text-gray">[STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF] </p>
                    <h3 class="section-heading">[Title]</h3>
                    <p class="text-left text-gray">[hey you..]</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>
    
    <section class="no-padding no-margin" id="meet-karlen">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/karlen1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">[Karlen]</h1>
                    <p class="text-left text-gray">[STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF]</p>
                    <h2 class="section-heading">[HEADER]</h2>
                    <p class="text-left text-gray">[things and things and things and things and things and things and things] </p>
                    <h3 class="section-heading">[Title]</h3>
                    <p class="text-left text-gray">[hey you..]</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>    
    
    <section class="no-padding no-margin" id="meet-group">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-lg-7 col-lg-offset-0">
                    <img src="../img/meet-us/group1.png" class="img-responsive">
                </div>
                <div class="col-lg-5 col-lg-offset-0">
                    <h1 class="section-heading">[Painters.. Body dudes]</h1>
                    <p class="text-left text-gray">[STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF STUFF ]</p>
                    <h2 class="section-heading">[HEADER]</h2>
                    <p class="text-left text-gray">[Peggy does it big.. Peggy does it big.. Peggy does it big.. Peggy does it big.. ]</p>
                    <h3 class="section-heading">[Title]</h3>
                    <p class="text-left text-gray">[hey you..]</p>
                </div>
            </div>
        </div>
    </section>
    
    <br>        
    
{% include /contact/title.html %}
{% include /contact/shop.html %}
{% include /contact/matthew.html %}
        
{% include scripts.html %}

</body>
</html>