<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body id="page-top">
		<div class="topBody">
			
		{% include navigation.html %}

		<div class="bg-image-front">
			{% include banner.html %}
		</div>

		{% include break-bottom.html %}

		{% include about.html %}

		{% include break-top.html %}
			<div class="bg-image-services">
				{% include blank.html%}
			</div>
		{% include break-bottom.html %}

		{% include beforeAndAfter.html %}

		{% include break-top.html %}
			<div class="bg-image-more-before-and-after">
				{% include blank.html%}
			</div>
		{% include break-bottom.html %}

		{% include meetUs.html %}

		{% include break-top.html %}
			<div class="bg-image-meet">
				{% include blank.html%}
			</div>
		{% include break-bottom.html %}

		{% include contactShop.html %}
		
		</div>

		{% include scripts.html %}
		
	</body>
</html>