<!DOCTYPE html>
<html lang="en">
    
{% include head.html %}
    
<body id="page-top-more-before-and-after">
    
{% include /nav/more-before-and-after.html %}  
{% include /header/more-before-and-after.html %}
        
<br>
{% include /before-and-after/projects/project1.html %}
<br>
{% include /before-and-after/projects/project2.html %}
<br>
{% include /before-and-after/projects/project3.html %}
<br>
{% include /before-and-after/projects/project3.html %}
<br>    

{% include /contact/title.html %}
{% include /contact/shop.html %}
{% include /contact/matthew.html %}

{% include scripts.html %}

</body>
</html>