<!DOCTYPE html>
<html lang="en">
    
{% include head.html %}
    
<body id="page-top-get-to-know-us">
    
    {% include /nav/temp.html %}

        {% include break-top.html %}
            <div class="bg-image-front">
                {% include blank.html%}
            </div>
        {% include break-bottom.html %}

            {% for image in ../img/temp/ %}
                hey
            {% endfor %}
    
        {% include break-top.html %}
                <div class="bg-image-front">
                    {% include blank.html%}
                </div>
        {% include break-bottom.html %}
    
{% include scripts.html %}

</body>
</html>